@import url('../webfonts/ss-gizmo.css');
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
html {
  width: 100%;
  height: 100%;
  color: #2f4241;
  margin: auto;
}
html {
  min-height: 768px;
  min-width: 1024px;
  font-size: 100%;
  background-color: #191919;
}
body {
  font-family: 'rooney-sans', sans-serif;
  font-size: 0.8rem;
  background-color: #ffffff;
  background-position: center center;
  position: relative;
  display: block;
}
.logotype,
.headline {
  font-family: 'rooney-sans', sans-serif;
}
form * {
  margin-bottom: 1rem;
}
legend {
  color: #aebdbc;
  padding: 0 0.5rem;
}
label {
  margin-right: 1rem;
  color: #2f4241;
}
label.required,
label .required {
  color: #ff8f4d;
}
.help-block {
  display: block;
  border: 1px solid #FFCEB3;
  background-color: #FFDEBA;
  color: #f1803d;
  padding: 0.5rem;
  font-style: oblique;
  line-height: 1.2rem;
}
input {
  font-family: "rooney-sans";
}
input[type="text"],
input[type="password"],
textarea {
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #d7e9e9;
  font-family: "rooney-sans";
  color: #2f4241;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  background-color: #EDF5F5;
  font-style: oblique;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="text"].selected,
input[type="password"].selected,
textarea.selected {
  box-shadow: inset 0 0 5px #d7e9e9;
  border: 1px solid #aebdbc;
}
input[type="text"].required,
input[type="password"].required,
textarea.required {
  box-shadow: 0 0 5px #ffa575;
  border: 1px solid #ffa575;
}
textarea {
  padding: 0.5rem!important;
  display: block;
}
button {
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  border: 1px solid #ff8f4d;
  font-family: "rooney-sans";
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
}
.icon {
  border-radius: 2px;
  display: block;
  width: 36px;
  height: 36px;
  background-color: white;
  margin: 10px 0;
  text-align: center;
}
.icon.lrg {
  width: 36px;
  height: 36px;
  font-size: 28px;
  line-height: 45px;
}
.icon.med {
  width: 24px;
  height: 24px;
  font-size: 19px;
  line-height: 30px;
}
.icon.sml {
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 22px;
}
.icon.x-sml {
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 15px;
}
button,
.btn {
  color: #ffffff;
  font-size: 1rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
  background-color: #FFB769;
  background-image: -webkit-linear-gradient(top, #ffb769, #ff8f4d);
  background-repeat: repeat-x;
  border: 1px solid #F1803D;
}
button:hover,
.btn:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0 5px #F1803D;
}
button.disabled,
.btn.disabled {
  opacity: 0.5;
}
button:active,
.btn:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #ff8f4d;
  background-image: -webkit-linear-gradient(top, #ff8f4d, #ffa94c);
}
button.unselected,
.btn.unselected,
button.cancel,
.btn.cancel {
  background-color: #D7E9E9;
  border: 1px solid #BBC9C8;
  background-image: -webkit-linear-gradient(top, #d7e9e9, #c0d1cf);
}
button.unselected:hover,
.btn.unselected:hover,
button.cancel:hover,
.btn.cancel:hover {
  box-shadow: inset 0 0 5px #BBC9C8;
}
button.unselected:active,
.btn.unselected:active,
button.cancel:active,
.btn.cancel:active {
  background-color: #C0D1CF;
  background-image: -webkit-linear-gradient(top, #c0d1cf, #d7e9e9);
}
button.fundraiser,
.btn.fundraiser {
  background-color: #4DFFD4;
  border: 1px solid #00BBAE;
  background-image: -webkit-linear-gradient(top, #4dffd4, #02c5b8);
}
button.fundraiser:hover,
.btn.fundraiser:hover {
  box-shadow: inset 0 0 5px #00BBAE;
}
button.fundraiser:active,
.btn.fundraiser:active {
  background-color: #02C5B8;
  background-image: -webkit-linear-gradient(top, #02c5b8, #00e2be);
}
button.facebook,
.btn.facebook {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #627aad;
  border: 1px solid #3b5998;
  background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
}
button.facebook:hover,
.btn.facebook:hover {
  box-shadow: inset 0 0 5px #3b5998;
}
button.facebook:active,
.btn.facebook:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  background-color: #3b5998;
  background-image: -webkit-linear-gradient(top, #3b5998, #627aad);
}
button.event,
.btn.event {
  background-color: #0fd4ff;
  border: 1px solid #4795f2;
  background-image: -webkit-linear-gradient(top, #0fd4ff, #4795f2);
}
button.event:hover,
.btn.event:hover {
  box-shadow: inset 0 0 5px #4795f2;
}
button.event:active,
.btn.event:active {
  background-color: #4795f2;
  background-image: -webkit-linear-gradient(top, #4795f2, #14c0e6);
}
fieldset {
  padding: 1rem;
  border: 1px solid #BBC9C8;
}
select {
  font-family: "rooney-sans";
  padding: 0.25rem 0.5rem;
  width: 100px;
  height: 30px;
  border: 1px solid #BBC9C8;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.one-col,
.two-col,
.three-col,
.four-col,
.five-col,
.six-col,
.seven-col,
.eight-col,
.nine-col,
.ten-col,
.eleven-col,
.twelve-col,
.thirteen-col {
  padding: 0 18px;
}
.one-col {
  width: 48px;
}
.one-col.cf {
  width: 96px;
  margin: auto;
}
.expanded .one-col.cf {
  margin-left: 288px;
}
.two-col {
  width: 120px;
}
.two-col.cf {
  width: 168px;
  margin: auto;
}
.expanded .two-col.cf {
  margin-left: 288px;
}
.three-col {
  width: 192px;
}
.three-col.cf {
  width: 240px;
  margin: auto;
}
.expanded .three-col.cf {
  margin-left: 288px;
}
.four-col {
  width: 264px;
}
.four-col.cf {
  width: 312px;
  margin: auto;
}
.expanded .four-col.cf {
  margin-left: 288px;
}
.five-col {
  width: 336px;
}
.five-col.cf {
  width: 384px;
  margin: auto;
}
.expanded .five-col.cf {
  margin-left: 288px;
}
.six-col {
  width: 408px;
}
.six-col.cf {
  width: 456px;
  margin: auto;
}
.expanded .six-col.cf {
  margin-left: 288px;
}
.seven-col {
  width: 480px;
}
.seven-col.cf {
  width: 528px;
  margin: auto;
}
.expanded .seven-col.cf {
  margin-left: 288px;
}
.eight-col {
  width: 552px;
}
.eight-col.cf {
  width: 600px;
  margin: auto;
}
.expanded .eight-col.cf {
  margin-left: 288px;
}
.nine-col {
  width: 624px;
}
.nine-col.cf {
  width: 672px;
  margin: auto;
}
.expanded .nine-col.cf {
  margin-left: 288px;
}
.ten-col {
  width: 696px;
}
.ten-col.cf {
  width: 744px;
  margin: auto;
}
.expanded .ten-col.cf {
  margin-left: 288px;
}
.eleven-col {
  width: 768px;
}
.eleven-col.cf {
  width: 816px;
  margin: auto;
}
.expanded .eleven-col.cf {
  margin-left: 288px;
}
.twelve-col {
  width: 840px;
}
.twelve-col.cf {
  width: 888px;
  margin: auto;
}
.expanded .twelve-col.cf {
  margin-left: 288px;
}
.thirteen-col {
  width: 912px;
}
.thirteen-col.cf {
  width: 960px;
  margin: auto;
}
.expanded .thirteen-col.cf {
  margin-left: 288px;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
#headline {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 3rem;
  text-shadow: 0 1px 0 #ffffff;
  padding: 1.5rem 0;
  color: #2f4241;
}
#headline h1 {
  font-size: 2.4rem;
}
#headline > div {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  border: 1px solid white;
  display: block;
  padding: 2rem 0;
}
#headline p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  display: block;
  padding: 2rem;
}
#headline p b {
  font-weight: 600;
}
#headline hr {
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid #aebdbc;
  border-bottom: 1px solid white;
}
#headline .image {
  height: 50px;
  display: block;
  text-align: center;
  font-size: 50px;
  line-height: 100%;
}
#headline button {
  width: 45%;
  padding: 0.5rem 0.75rem;
}
.expanded #headline .six-col.cf,
.expanded #headline .five-col.cf {
  margin-left: auto;
}
#action_content {
  text-align: center;
}
#action_content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}
#action_content input {
  display: block;
  width: 80%;
  margin: 0 auto 1rem;
  height: 1.2rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: white;
  color: #2f4241;
}
#action_content button {
  display: block;
  width: 83.5%;
  margin: auto;
}
#action_content hr {
  margin-bottom: 1rem;
}
#action_content p {
  font-size: 0.8rem;
  letter-spacing: 0;
  line-height: 1.4rem;
  text-align: center;
  padding: 0 0 1rem;
}
#opening {
  font-family: "rooney-sans" !important;
  font-weight: 300 !important;
  padding: 1rem 1rem 2rem !important;
  font-size: 1.8rem !important;
  line-height: 2.2rem !important;
  letter-spacing: 1px !important;
}
#actions p {
  width: 10%;
  font-size: 1rem;
  display: table-cell;
  vertical-align: middle;
  float: left;
  padding: 0;
  text-align: center;
}
#actions .back {
  width: 20%;
  font-size: 0.8rem;
}
#actions .back a {
  color: #ff8f4d;
}
#actions .cancel {
  border-color: #B2C4C2;
}
#top_bar {
  z-index: 4;
  width: 100%;
  height: 44px;
  position: fixed;
  background: -webkit-linear-gradient(left, rgba(255, 143, 77, 0.75) 0%, rgba(255, 165, 117, 0.5) 100%);
  border-bottom: 1px solid rgba(255, 165, 117, 0.75);
  display: block;
}
#top_bar .icon {
  margin: 10px 13px;
  background-color: transparent;
  float: left;
  color: white;
}
.expanded #top_bar .icon {
  margin-right: 7px;
}
#top_bar .logotype {
  display: table!important;
  height: 44px;
  padding: 0 0 0 1rem;
  float: left;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
#top_bar .logotype p {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
}
.expanded #top_bar .logotype {
  padding: 0!important;
}
#top_bar .search {
  height: 44px;
  width: 270px;
  display: block;
  float: right;
}
#top_bar .search .icon {
  margin: 13px;
  float: right;
}
#top_bar .search:hover input {
  display: inline-block;
}
#top_bar .search input {
  background: transparent;
  border: none;
  display: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 1rem 0.5rem 0.25rem;
  width: 200px;
}
#top_bar .search input::-webkit-input-placeholder {
  color: white!important;
}
#navigation {
  width: 52px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: auto;
  background-color: rgba(25, 25, 25, 0.75);
  border-right: 1px solid #191919;
  z-index: 3;
}
#navigation > div {
  border-color: #191919;
}
#navigation .icon {
  opacity: 0.75;
}
.expanded #navigation .icon {
  opacity: 1;
}
.expanded #navigation {
  width: 264px;
  padding-right: 0.5rem;
  background-color: rgba(25, 25, 25, 0.95);
  border-right: 1px solid rgba(25, 25, 25, 0.5);
}
.expanded #navigation.cf {
  width: 312px;
  margin: auto;
}
.expanded .expanded #navigation.cf {
  margin-left: 288px;
}
.expanded #navigation > div {
  border-color: #000000;
}
.expanded #navigation .nav,
.expanded #navigation .sub {
  padding-right: 0.5rem;
  display: table;
  width: 100%;
}
.expanded #navigation .nav:hover,
.expanded #navigation .sub:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.expanded #navigation .nav:active,
.expanded #navigation .sub:active {
  background-color: rgba(255, 255, 255, 0.5);
}
#login {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  z-index: 2;
  display: none;
}
#color_grade {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-image: -webkit-linear-gradient(top, #ffa575, #82fbd6, #0fd4ff);
  opacity: 0.25;
  z-index: 1;
}
#hero_image {
  background-image: url('../img/kitsune.jpg');
  background-size: cover;
  background-position: center center;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-filter: blur(2.5px);
}
form.threeD {
  border-radius: 2px;
  padding: 1rem 1rem 0;
  display: block;
  margin: 0 auto 1rem;
  background-color: #FFDEBA;
  border: 1px solid;
  border-color: #F0CAA1;
  border-color: #FFFFFF #FFF6ED #FFDEBB !important;
  text-shadow: 0 1px 0 #FFF;
  background-image: -webkit-linear-gradient(top, #faead9, #ffffff);
  color: #645A4D;
  text-align: center;
}
form.threeD h2 {
  border-bottom: 1px solid #F0CAA1;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #f1803d;
}
form.threeD input {
  font-size: 0.8rem;
  padding: 0.75rem 0.5rem;
  margin: 0.5rem auto;
  display: block;
  border-color: #F0CAA1 !important;
  color: #f1803d;
}
form.threeD hr {
  border: none;
  border-bottom: 1px solid #EBDDCE;
  margin: 1rem 0;
}
form.threeD button {
  margin: 0.5rem 0.75rem 0;
}
form.threeD p {
  font-family: "rooney-sans";
  font-weight: 300;
  width: 100%;
  text-align: right;
  padding-top: 0 1rem 0 0;
  font-size: 0.75rem;
}
form.threeD a {
  color: #f1803d;
  font-style: oblique;
  font-family: "rooney-web";
  text-decoration: none;
}
.name {
  display: none;
  height: 100%;
}
.name p {
  color: white;
  text-align: right;
}
.expanded .name {
  display: table-cell;
  vertical-align: middle;
}
.nav {
  font-size: 0.8rem;
  white-space: nowrap;
  border-bottom: 1px solid;
}
.nav .icon {
  display: block;
  width: 36px;
  height: 36px;
  margin: 8px;
}
.nav.top {
  margin-top: 45px;
}
.nav.bottom {
  position: absolute;
  bottom: 0px;
  border-bottom: none;
  border-top: 1px solid;
}
.sub {
  font-size: 0.6rem;
  font-style: oblique;
  border-bottom: 1px solid;
}
.sub .icon {
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 13px;
}
.content {
  margin: auto;
  height: auto;
}
.content > div {
  float: left;
  height: 100%;
}
.recommendations {
  width: 100%;
  height: 300px;
  display: block;
  background-color: #aebdbc;
}
.footer {
  width: 100%;
  height: 300px;
  display: block;
  background-color: #2f4241;
}
.RSVP {
  position: relative;
}
.RSVP .navigation {
  background-color: #191919;
  height: 100%;
  position: absolute;
  top: 0;
  left: 18px;
  right: 0;
  bottom: 0;
  padding: 0;
  color: white;
}
.RSVP .nav {
  text-align: center;
  height: 26px;
  padding-top: 10px;
}
.RSVP .six-col {
  padding: 1rem 0;
}
