html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: transparent;
}
#wrapper {
  padding-top: 2rem;
  display: block;
  height: 100%;
  margin: 0;
}
#modal {
  background-color: white;
  width: 100%;
  min-height: 50%;
  display: block;
  margin: 0;
  padding: 1rem 0;
}
#modal div {
  margin: 0 0 2rem;
  display: block;
}
.btn {
  padding: auto!important;
}
#sign_in,
#register {
  width: 49%;
  float: left;
  text-align: center;
  padding: 1rem 0;
}
#sign_in {
  border-right: 1px solid #F0CAA1;
}
#guest {
  width: 100%;
  text-align: center;
}
