@import url('reset.css');

@import url('clearfix.css');
body,
html {
  background-color: lightgrey;
  font-family: "rooney-sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
#navigation {
  background-color: rgba(0, 0, 0, 0.75);
  color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #000000;
}
#navigation li {
  float: left;
  list-style-type: none;
  padding-right: 10px;
  font-size: 0.75rem;
}
#navigation .title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: white;
}
h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "rooney-sans";
}
.code {
  font-family: "Lucida Console", Monaco, monospace;
}
.tile {
  width: 90%;
  margin: 44px auto 0;
  height: auto;
  background-color: white;
  border: 1px solid darkgray;
  font-family: "rooney-sans", sans-serif;
}
.tile .title {
  width: 100%;
  background-color: darkgray;
  color: white;
}
.title p {
  padding: 10px;
}
.content {
  margin: 10px;
}
.colors div {
  width: 30%;
  height: 100px;
  margin: 1%;
  display: block;
  background-color: red;
  float: left;
}
.typography p {
  font-size: 0.75rem;
  line-height: 1.15rem;
  margin: 10px;
  padding: 5px 0;
  width: 25%;
  font-family: "rooney-web";
  font-weight: 300;
  color: #555;
}
